{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django - Templates</title>
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static '/first_app/css/main.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <p>The current time and date is:</p>
        <h1>{{ time }}</h1>
        <!-- <p>{{ request.session.name }}</p> -->
      </div>
    </div>
  </body>
</html>